body {
  font-family: 'Josefin Sans', sans-serif;
}

.intro-section {
padding: 110px 0;
}

.footer-section {
padding: 110px 0;
}

.section-title {
font-size: 60px;
}

.section-title span {
color: #979797;
}

.portfolio-item {
  display: block;
  width: 100%;
  height: 460px;
  background-position: center center;
  position: relative;
  margin-bottom: 30px;
}

.portfolio-item .pi-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio-item .pi-inner h2 {
  opacity: 0;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #fff;
  letter-spacing: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio-item:hover .pi-inner {
  background: rgba(0, 20, 24, 0.8);
}

.portfolio-item:hover .pi-inner h2 {
  opacity: 1;
  letter-spacing: 0;
}

.portfolio-meta {
  padding-bottom: 45px;
}

.portfolio-meta h2 {
  font-size: 24px;
}

.portfolio-meta p {
  font-size: 14px;
  color: #a6a6a6;
  margin-bottom: 0;
}

.portfolio-intro {
  display: block;
}

p {
  font-weight: 300;
  font-size: 1.5rem;
}